#container{
    width: 966px;
    margin: 0 auto;
    text-align: center;
}
#head{
    height: 60px;
    color: #000;
    clear: both;
}
#control{
    width: 340px;
    float: left;
    color: 000;
}
#video{
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
} 
#canvas{
    position: absolute;
    top: 80px;
    left: 213px;
    z-index: 100;
    display: block;
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
#comp{
    position: absolute;
    top: 80px;
    left: 213px;
    z-index: 101;
    display: none;
}

#footer{
    clear: both;
}

/*  game */
#game{
    float: right;
    width: 600px;
    height: 600px;
}

